<section class="container">
    <mat-card>
        <mat-card-title>Contact</mat-card-title>
        <mat-card-content>
            <br />
            <form id="contact-form" required>
                <ng-container *ngIf="errorMessage">
                    <app-alert [alertType]="cssClass" [message]="errorMessage"></app-alert>
                </ng-container>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="enter a title" [(ngModel)]="title" required />

                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="enter your name" [(ngModel)]="name" required />

                <label for="email">Email:</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="enter your email"
                    [(ngModel)]="email"
                    required
                />

                <label for="message">Message:</label>

                <textarea
                    id="message"
                    rows="5"
                    cols="50"
                    name="message"
                    placeholder="enter your message"
                    [(ngModel)]="message"
                    required
                ></textarea>
                <button class="button" type="submit">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
</section>
