/* Style inputs with type="text", select elements and textareas */
input[type='text'],
select,
textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type='email'] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.button {
    background-color: #B4D2E7;
    border: none;
    color: black;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid black;
}

.button:hover {
    transition-duration: 0.3s;
    transform: scale(1.1)
  }
  
  .container {
    padding: 150px 250px;
    margin-bottom: 300px;
}

mat-card {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}
