<section class="contentCardImage">
    <img src="{{ imagePath }}" alt="" />
</section>
<section class="contentCardInfo">
    <section class="contentCardText">
        <section class="contentCardTitle">
            <h1>{{ title }}</h1>
        </section>
        <section class="contentCardDescription">
            <h2>{{ text }}</h2>
        </section>
    </section>
    <section class="contentCardTags">
        <ul class="contentTags">
            <li *ngFor="let tag of tags" class="contentTag">
                <h4>{{ tag }}</h4>
            </li>
        </ul>
        <h4 class="dateTag">{{ uploadDate | date : 'longDate' }}</h4>
    </section>
</section>
