<section class="registerSection">
    <mat-card>
        <section *ngIf="errorMessage !== null" class="submitOutput">
            <app-alert [alertType]="cssClass" [message]="errorMessage"></app-alert>
        </section>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field>
                        <input matInput id="email" type="text" formControlName="email" placeholder="Email" required />
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input
                            matInput
                            id="password"
                            type="password"
                            class="form-control"
                            formControlName="password"
                            placeholder="Password"
                            required
                        />
                    </mat-form-field>
                </p>
                <section *ngIf="registerForm.invalid && email?.touched">
                    <section
                        *ngIf="email?.errors?.['required'] || email?.errors?.['email']"
                        [ngClass]="email?.errors?.['required'] || email?.errors?.['email'] ? 'alert-danger' : 'alert-succes'"
                    >
                        <i class="material-icons">
                            {{
        email?.errors?.['required'] || email?.errors?.['email'] ? "cancel" : "check_circle"
                            }}
                        </i>
                        Please enter a valid email address
                    </section>
                </section>
                <mat-card-subtitle
                    [ngClass]="
                        password?.dirty && password?.touched && password?.errors ? 'alert-danger' : 'alert-succes'
                    "
                >
                    Password must have 8 characters, 1 upper- <br />lowercase, 1 number and a special character
                </mat-card-subtitle>
                <button type="submit" (keydown.enter)="onSubmit()" [disabled]="!registerForm.valid">Register</button>
            </form>
        </mat-card-content>
        <a href="/login">Already have an account? Login here</a>
    </mat-card>
</section>
