<body>
    <section class="slideshow-container">
        <section class="mySlides fade">
            <section class="#">1 / 17</section>
            <img src="../../../assets/nopoverty.png" width="300" height="300" />
            <h3>No poverty</h3>
            <section class="text">
                The No Poverty SDG (Sustainable Development Goal) aims to eradicate extreme poverty by ensuring equal
                access to basic resources and services, including education, healthcare, and social protection. It also
                focuses on creating sustainable livelihoods and economic opportunities for people living in poverty,
                particularly women and marginalized groups.
            </section>
        </section>

        <section class="mySlides fade">
            <section class="#">2 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>

        <section class="mySlides fade">
            <section class="#">3 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">4 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">hallo</section>
        </section>
        <section class="mySlides fade">
            <section class="#">5 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">6 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">7 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">8 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">9 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">10 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">11 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">12 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">13 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">14 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">15 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">16 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <section class="mySlides fade">
            <section class="#">17 / 17</section>
            <img src="#" />
            <h3>Title</h3>
            <section class="text">
                Lorem ipsum dolor sit amet. Qui temporibus veritatis non enim dolores hic quia omnis. Est voluptatum
                soluta et magnam nisi et sint pariatur At fugiat eligendi a internos quis.
            </section>
        </section>
        <a class="prev" (click)="plusSlides(-1)">❮</a>
        <a class="next" (click)="plusSlides(1)">❯</a>
    </section>
    <br />

    <section style="text-align: center">
        <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]; let index = index">
            <span class="dot-number" (click)="currentSlide(index + 1)">{{ index + 1 }}</span>
        </ng-container>
    </section>
</body>
